*{
	box-sizing: border-box;
}

html, body{
	height: 200%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}

h1{
	margin: 1rem 0;
}

section{ /* ist das graue Kasten*/
	background: lightgrey;
	border-bottom: 1px solid #000;
	height: 600px;
	margin-top: 2rem;

}

.wrapper{
	max-width: 600px;
	margin: auto;
}

.row{ /* ändert sich je nach positionen, wenn absolut, o px, row ist nicht der graue Kasten*/
	width: 100%;
	position: relative; /*position relativ, wir sagen er soll weiter chaef sein von den Rechtecken, bezieht sich auf electric purple,
	wenn weg dann alle außen von grauen Kasten*/
}

.col{
	width: 200px;
	height: 200px;
}

.electric-purple{
	background: #C200FB;
	position: absolute; /*abheben*/
	top: 0; /*position left 0 im Gesamtdatei*/
	right: 0;
	z-index: 2;


}

.raspberry{
	background: #EC0868;
	position: absolute;
	right: 0px;
	top: 400px;
	z-index: 1; /*ebenen ...nach oben */


}

.ferrari-red{
	background: #FC2F00;
	position: absolute;
	right: 50px; /*50px position nach unten*/
	top: 50px;
	z-index: 3;







}
.black{
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	


}
